doctype
html(ng-app="StarterApp")
  head
    meta(charset='utf-8')
    title JoP's Culture
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=RobotoDraft:100,200,300,400")
    link(rel="stylesheet", href="style.css")

  body(ng-controller="AppCtrl", md-swipe-right="openMenu()", md-swipe-left="closeMenu()")

    div(layout="column")
      md-toolbar.md-whiteframe-z2
        div.md-toolbar-tools
          md-button.md-icon-button(ng-click="toggleMenu()", ng-hide="menuLockedOpen", aria-label="menu")
            md-icon(md-svg-icon="./icons/ic_menu_24px.svg")
          span.title My culture

    div#main(role="main", layout="row")
      
      md-sidenav.md-sidenav-left.md-whiteframe-z2(
        md-component-id="left",
        md-is-locked-open="menuLockedOpen",
        ng-class="{'sidenav-top-margin': !menuLockedOpen}")
        md-content
          div
            ul.nav(role="navigation")
              li.orange(ng-class="selectedClass['music']")
                a(ng-click="sectionClicked('music')")
                  div(layout="row")
                    div.icon
                      md-icon(md-svg-icon="./icons/ic_headset_24px.svg")
                    div.text
                      span Music
              li.red(ng-class="selectedClass['movies']")
                a(ng-click="sectionClicked('movies')")
                  div(layout="row")
                    div.icon
                      md-icon(md-svg-icon="./icons/ic_local_movies_24px.svg")
                    div.text
                      span Movies
                      
              li.azure(ng-class="selectedClass['books']")
                a(ng-click="sectionClicked('books')")
                  div(layout="row")
                    div.icon
                      md-icon(md-svg-icon="./icons/ic_library_books_24px.svg")
                    div.text
                      span Books

      md-content.container(layout="column", ng-controller="gridCtrl")
        div.grid-container(scroll-load, on-scroll-end="loadMore")
          section.md-padding(flex)#gridList

            div(layout="row")
              div#gridTitle
                h3 {{gridTitle}}
              div#searchField(layout="row", layout-align="end center", flex)
                md-input-container(md-no-float, flex="66", flex-gt-lg="33")
                  input(ng-model="searchString", placeholder="Search", aria-label="Search", tabindex="1")

            md-grid-list(md-cols-gt-lg="5", md-cols-lg="5", md-cols-md="4", md-cols-sm="1", md-row-height="{{mdRowHeight}}", autofocus)
              md-grid-tile(md-rowspan="1", md-colspan="1", ng-repeat="item in items | filter: searchString")
                md-card
                  //img(img-fallback, ng-src="./icons/ic_album_48px.svg")
                  img(img-fallback, ng-src="{{item.imageUrl}}")
                md-grid-tile-footer
                  figcaption
                    h3 {{item.title}}
                    h4 {{item.artist}}

            footer
              div(layout="row", layout-align="space-around")
                div(ng-show="loading")
                  md-progress-circular(md-mode="indeterminate")
                div.message(ng-show="!hasMoreData")
                  span Too many books to read, too many movies too watch, too much music to listen, too many games to play, too many lives to live.

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js')
    script(src='script/app.js')