md-grid-list(md-cols-gt-md="5", md-cols-md="4", md-cols-sm="1", md-row-height="1:1")
  md-grid-tile(md-rowspan="1", md-colspan="1", ng-repeat="item in items")
    md-card
      img(ng-src="{{item.imageUrl}}", style="max-width=100%")
    md-grid-tile-footer
      h3 {{item.title}}
        span.paragraph-end
      h4 {{item.artist}}
